# Copyright (c) 2021 The ZMK Contributors
# SPDX-License-Identifier: MIT

config ZMK_LED_PWM
	bool "PWM LED driver"
	depends on PWM
	help
	  Enable driver for PWM LEDs.

config ZMK_LED_GPIO
	bool "GPIO LED driver"
	depends on GPIO
	help
	  Enable driver for GPIO LEDs.
